@charset "UTF-8";
@import "vendor/css-reset";
@import "vendor/sanitize";
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/basscss/8.1.0/css/basscss.min.css");

//Start style
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Share Tech Mono", monospace;
  color: #4af626;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/assets/img/bird-s-eye-view-photography-of-high-rise-buildings-2304917.jpg");
  background-size: cover;
  background-position: center;
}

a:any-link {
  color: #ff822d;
}

footer,
header {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
  );
  width: 100%;
}

button {
  background-color: #4af626;
  border-color: #404a3b;
}

.logo {
  height: 3rem;
}
